<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048060533121-45sncefssnpu058u7sm3qkptsadbc81n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048060533121-45sncefssnpu058u7sm3qkptsadbc81n</string>
	<key>API_KEY</key>
	<string>AIzaSyC1KXAEiELS-_xm_txq1CI3WzjhG1q1VcA</string>
	<key>GCM_SENDER_ID</key>
	<string>1048060533121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fojb.project.fojb-election</string>
	<key>PROJECT_ID</key>
	<string>fojb-election-af8d3</string>
	<key>STORAGE_BUCKET</key>
	<string>fojb-election-af8d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048060533121:ios:d3d17d7d820d940894b080</string>
</dict>
</plist>